[user]
	name = Rodrigo Arce
  email = albo@pragmore.com

[includeIf "gitdir:~/work/**"]
  path = ~/work/.gitconfig

[core]
  editor = nvim
  autocrlf = false

[color]
  ui = auto

[alias]
  st = status
  br = branch
  co = checkout
  # Pretty log
  l = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  # Undo last commit
  undo = !git reset --soft HEAD~ && git restore --staged .
  # Always pull with rebase
  pr = pull --rebase
  # Git push all shortcut, useful when multiple remotes
  pa = !git remote | xargs -L1 git push --all
  # Git fetch all shortcut
  fa = fetch --all

  # nube.pragmore.com
  deploy = push -q prod
  redeploy = "!git commit --allow-empty -m 'Force deploy' && git push -q prod"

[credential]
  helper = cache --timeout=3600000

[diff]
  tool = difftastic

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true

[push]
  default = current

[init]
  # Useful for init local repositories for github
  defaultBranch = main

[pull]
	rebase = true

[branch]
  # Sort branches by last commit fail on a lot of branch commands
  # @TODO search for alternatives.
  # sort = -commiterdate

[rerere]
  enabled = true
  autoupdate = true
